<section>
  <form name="form" ng-submit="register()">
    <fieldset>
      <!-- <legend>Sign up form</legend> -->

      <div class="form-group">
        <label>Email</label>
        <input name="email" type="text" ng-model="user.email">
      </div>

      <div class="form-group">
        <label>Password</label>
        <input name="password" type="password" ng-model="user.password">
      </div>
      <!-- <div class="form-group">
        <label>Profile picture</label>
       <input type="file" nv-file-select="" uploader="uploader" />
      </div> -->
      <div class="actions">
        <label></label>
        <button>Sign up</button>
      </div>
    </fieldset>
  </form>
</section>
